<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h1>Create New Customer</h1>
    </div>
    <div class="card-body">
      <%= render "form", customer: @customer %>
    </div>
  </div>

  <div class="mt-4">
    <%= render "customer_list" %>
  </div>
</div>
