<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-success text-white">
      <h1>Create New Combo</h1>
    </div>
    <div class="card-body">
      <%= render "form", combo: @combo, services: @services %>
    </div>
  </div>

  <div class="mt-4">
    <%= render "combo_list" %>
  </div>
</div>
